---
import cardbillede from "../assets/images/hawaii.webp";
import { Image } from "astro:assets";
---

<div class="bg-[#F9F9F9] rounded-lg flex overflow-hidden mx-8 mt-20 mb-20">
  <Image
    src={cardbillede}
    alt="En gruppe unge tager et selfie i vandet"
    class="w-2/5 object-cover"
  />

  <div class="w-3/5 p-6 flex flex-col justify-between">
    <div>
      <h2 class="text-[34px] poppins-bold text-black mb-4">
        Højskole i Carabien, Hawaii & Mexico
      </h2>
      <p class="text-[28px] poppins text-black">
        Varighed - 2 måneder - <span class="text-[#FF0000] poppins-bold"
          >UDSOLGT</span
        >
      </p>
      <p class="text-20px poppins-bold text-black mt-4">
        Pris pr. person: 63.500kr
      </p>
    </div>

    <div class="flex justify-between items-center mt-6 gap-8">
      <div class="flex gap-12">
        <div class="text-left">
          <span class="block text-sm poppins text-black"
            >Afrejse fra Danmark</span
          >
          <span class="block text-[#FF0000] poppins-bold">6. Januar 2025</span>
        </div>
        <div class="text-left">
          <span class="block text-sm poppins text-black">Hjemrejse</span>
          <span class="block text-[#FF0000] poppins-bold">7. Marts 2025</span>
        </div>
      </div>

      <div class="flex gap-4">
        <button
          class="bg-[#FFAB34] hover:bg-[#E69A30] text-white poppins-bold text-sm px-6 py-3 rounded-[15px]"
        >
          Tilmeld til infomøde
        </button>
        <button
          class="bg-[#2E9900] hover:bg-[#427c29] text-white poppins-bold text-sm rounded-[15px] px-6 py-4"
        >
          Reserver en plads
        </button>
      </div>
    </div>
  </div>
</div>
