<h1 class="text-[32px] text-center mt-[35px]">
  Er du klar på dit livs eventyr?
</h1>
<p class="poppins m-14 mt-[20px]">
  HÖJSKOLENDK er en dansk højskole for unge (18-30 år), der elsker fællesskab,
  eventyr og mødet med nye kulturer. Vi tilbyder unikke højskoleophold i
  udlandet, hvor du rejser med rygsæk, oplever stærkt sammenhold og får
  meningsfuld undervisning. <br /><br />Drømmer du om en grupperejse, nye
  venskaber og inspirerende oplevelser? Med os er du sikret en tryg og
  uforglemmelig rejse – vi er medlem af Rejsegarantifonden. <br />
  <br />Vi glæder os til at møde dig!
</p>
