---
import { Image } from "astro:assets";
import tucan from "../assets/images/tucan.jpg";
import vandfald from "../assets/images/vandfald.jpg";
import strandhotel from "../assets/images/strandhotel.jpg";
import by from "../assets/images/by.jpg";
---

<Image src={tucan} alt="Plastic Change logo" class="rounded-[30px]" />
<h1 class="text-[32px] text-center mt-[35px]">
  Højskole i udlandet for unge mennesker
</h1>
<p class="poppins m-14 mt-[20px]">
  Drømmer du om højskole i udlandet? Med HÖJSKOLENDK får du uforglemmelige
  eventyr med fællesskab, unikke oplevelser og meningsfuld læring. Du skaber nye
  venskaber og minder for livet – noget, du aldrig vil fortryde. Vælg blandt
  fantastiske destinationer: oplev smuk natur på Bali eller Hawaii,
  storbyeventyr i New York eller Tokyo, eller autentiske kulturer i Mexico og
  Indien. Er du til adventure? Prøv adrenalinpumpende aktiviteter i New Zealand,
  Nepal eller Costa Rica.
</p>

<Image src={tucan} alt="Plastic Change logo" class="rounded-[30px]" />
<h1 class="text-[32px] text-center mt-[35px]">
  Uforglemmeligt højskoleophold i udlandet
</h1>
<p class="poppins m-14 mt-[20px]">
  HÖJSKOLENDK tilbyder højskoleophold i udlandet året rundt og i sommerferien.
  Vælg mellem ophold på 5 uger om sommeren eller længere rejser på 2-3 måneder i
  løbet af året – begge muligheder er populære blandt vores elever.
  Sommeropholdene kombinerer flere lande og kulturer og er perfekt til dig, der
  vil rejse, møde nye venner og udvikle dig i sommerferien, inden du fx starter
  på studie eller job. De længere ophold er oplagte for dig, der holder sabbatår
  og drømmer om at opleve verden og styrke dig selv personligt.
</p>

<Image src={tucan} alt="Plastic Change logo" class="rounded-[30px]" />
<h1 class="text-[32px] text-center mt-[35px]">
  En rejse højskole fyldt med oplevelser
</h1>
<p class="poppins m-14 mt-[20px]">
  Vil du gerne på højskole i udlandet, tilbyder vi de mest attraktive
  højskoleophold i udlandet, hvor du besøger flere skønne og spændende lande og
  deltage i spændende og inspirerende undervisning og alverdens fede
  aktiviteter.
</p>
